#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Name=central_ws
Terminal=true
Exec=/usr/local/bin/change_ws.sh Center
X-GNOME-Autostart-enabled=true
